<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#load-csv-to-pandas-dataframe" data-toc-modified-id="load-csv-to-pandas-dataframe-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>load csv to pandas dataframe</a></span></li><li><span><a href="#Manipulating-the-data" data-toc-modified-id="Manipulating-the-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Manipulating the data</a></span><ul class="toc-item"><li><span><a href="#Access-by-specifying-the-column-first,-then-the-line-of-the-row:" data-toc-modified-id="Access-by-specifying-the-column-first,-then-the-line-of-the-row:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Access by specifying the column first, then the line of the row:</a></span></li><li><span><a href="#Access-by-using-.loc-attribute:" data-toc-modified-id="Access-by-using-.loc-attribute:-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Access by using <code>.loc</code> attribute:</a></span></li><li><span><a href="#Access-by-using-.iloc-attribute" data-toc-modified-id="Access-by-using-.iloc-attribute-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Access by using <code>.iloc</code> attribute</a></span></li><li><span><a href="#Now,-let’s-access-a-limited-section-of-rows-by-using-masks.-Check-the-diameter-information-of-those-abalone-whose-rings-are-21." data-toc-modified-id="Now,-let’s-access-a-limited-section-of-rows-by-using-masks.-Check-the-diameter-information-of-those-abalone-whose-rings-are-21.-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Now, let’s access a limited section of rows by using masks. Check the diameter information of those abalone whose rings are <code>21</code>.</a></span></li><li><span><a href="#Check-mean-value-by-grouping-a-feature,-e.g.-check-the-mean-value-when-grouping-abalone-by-‘Rings’:" data-toc-modified-id="Check-mean-value-by-grouping-a-feature,-e.g.-check-the-mean-value-when-grouping-abalone-by-‘Rings’:-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Check mean value by grouping a feature, e.g. check the mean value when grouping abalone by <code>‘Rings’</code>:</a></span></li><li><span><a href="#Sort-the-abalone-data-by-‘Length’:" data-toc-modified-id="Sort-the-abalone-data-by-‘Length’:-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Sort the abalone data by <code>‘Length’</code>:</a></span></li></ul></li><li><span><a href="#Solution" data-toc-modified-id="Solution-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Solution</a></span><ul class="toc-item"><li><span><a href="#Access-by-specifying-the-column-first,-then-the-line-of-the-row:" data-toc-modified-id="Access-by-specifying-the-column-first,-then-the-line-of-the-row:-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Access by specifying the column first, then the line of the row:</a></span></li><li><span><a href="#Access-by-using-.loc-attribute:" data-toc-modified-id="Access-by-using-.loc-attribute:-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Access by using <code>.loc</code> attribute:</a></span></li><li><span><a href="#Access-by-using-.iloc-attribute" data-toc-modified-id="Access-by-using-.iloc-attribute-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Access by using <code>.iloc</code> attribute</a></span></li><li><span><a href="#Now,-let’s-access-a-limited-section-of-rows-by-using-masks.-Check-the-diameter-information-of-those-abalone-whose-rings-are-21." data-toc-modified-id="Now,-let’s-access-a-limited-section-of-rows-by-using-masks.-Check-the-diameter-information-of-those-abalone-whose-rings-are-21.-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Now, let’s access a limited section of rows by using masks. Check the diameter information of those abalone whose rings are <code>21</code>.</a></span></li><li><span><a href="#Check-mean-value-by-grouping-a-feature,-e.g.-check-the-mean-value-when-grouping-abalone-by-‘Rings’:" data-toc-modified-id="Check-mean-value-by-grouping-a-feature,-e.g.-check-the-mean-value-when-grouping-abalone-by-‘Rings’:-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Check mean value by grouping a feature, e.g. check the mean value when grouping abalone by <code>‘Rings’</code>:</a></span></li><li><span><a href="#Sort-the-abalone-data-by-‘Length’:" data-toc-modified-id="Sort-the-abalone-data-by-‘Length’:-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Sort the abalone data by <code>‘Length’</code>:</a></span></li></ul></li><li><span><a href="#Try" data-toc-modified-id="Try-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Try</a></span></li></ul></div>

# Practical Exercise Accessing the value of a cell
Today, we will explore the abalone dataset. But first, you will need to retrieve data. This process is the same as what we did in Week 1.

## load csv to pandas dataframe

In [1]:
import pandas as pd

In [2]:
abalone_p = "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data"

In [5]:
abalone = pd.read_csv(
    abalone_p, 
    sep=',', 
    decimal='.', 
    header=None, 
    names=['Sex', 'Length', 'Diameter', 'Height', 
            'Whole weight', 'Shucked weight', 
            'Viscera weight', 'Shell weight', 'Rings'])
abalone

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

## Manipulating the data
There are a variety of ways to access the value of a cell in a DataFrame.

For example, let's access the 4th line of the `‘Sex’` column of the abalone data.

Now, it's your turn to fill in the code by following the instruction below.

### Access by specifying the column first, then the line of the row:

In [7]:
abalone['Sex'][3]

'M'

### Access by using `.loc` attribute:

In [14]:
abalone.loc[3, 'Sex']

'M'

### Access by using `.iloc` attribute

In [19]:
abalone.iloc[3, 0]

'M'

### Now, let’s access a limited section of rows by using masks. Check the diameter information of those abalone whose rings are `21`.

In [28]:
ring_mask = abalone['Rings'] == 21
abalone[ring_mask]['Diameter']

83      0.475
181     0.510
310     0.485
428     0.455
469     0.555
478     0.590
628     0.415
673     0.390
811     0.365
2180    0.420
2199    0.550
2344    0.550
3151    0.500
3930    0.535
Name: Diameter, dtype: float64

### Check mean value by grouping a feature, e.g. check the mean value when grouping abalone by `‘Rings’`:

In [34]:
abalone.groupby(['Rings']).mean()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
Rings,,,,,,,
1,0.075000,0.055000,0.010000,0.002000,0.001000,0.000500,0.001500
2,0.150000,0.100000,0.025000,0.015000,0.004500,0.004000,0.005000
3,0.176000,0.128667,0.041667,0.028400,0.011767,0.006267,0.008933
4,0.221491,0.161579,0.053947,0.059605,0.024719,0.012956,0.018000
5,0.285739,0.210696,0.069913,0.125500,0.061696,0.027330,0.036770
6,0.369363,0.278861,0.091776,0.273174,0.123158,0.058371,0.078388
7,0.422033,0.321535,0.105921,0.397386,0.182657,0.085899,0.111648
8,0.498776,0.384798,0.128556,0.640753,0.293773,0.138502,0.178609
9,0.546865,0.425218,0.142721,0.852013,0.387938,0.187803,0.236509
10,0.574629,0.449290,0.154093,1.008748,0.447217,0.223128,0.282976
11,0.599374,0.470595,0.161253,1.142559,0.503977,0.252393,0.319866
12,0.589457,0.462434,0.161292,1.102904,0.472781,0.239575,0.321157
13,0.578892,0.456453,0.160887,1.075453,0.434638,0.235421,0.320828
14,0.580198,0.458294,0.163571,1.079992,0.427190,0.235258,0.329960
15,0.575728,0.456262,0.161359,1.040951,0.402471,0.227539,0.321650
16,0.587537,0.468433,0.171866,1.133388,0.421716,0.239769,0.377858
17,0.601034,0.475345,0.173966,1.234328,0.467052,0.251233,0.393414
18,0.596071,0.471310,0.171548,1.194333,0.446833,0.242762,0.386762
19,0.595625,0.470781,0.170313,1.166797,0.440625,0.248859,0.365312
20,0.603654,0.482308,0.173846,1.251750,0.458115,0.251135,0.425885
21,0.618214,0.485357,0.171071,1.250607,0.447464,0.246607,0.444643
22,0.595000,0.472500,0.189167,1.221250,0.405000,0.217167,0.390000
23,0.587222,0.463889,0.172778,1.170389,0.399444,0.254833,0.370556
24,0.695000,0.540000,0.200000,1.798750,0.600250,0.332750,0.632500
25,0.645000,0.490000,0.215000,1.406000,0.426500,0.228500,0.510000
26,0.600000,0.495000,0.195000,1.057500,0.384000,0.190000,0.375000
27,0.607500,0.500000,0.202500,1.698000,0.539000,0.298000,0.705000
29,0.700000,0.585000,0.185000,1.807500,0.705500,0.321500,0.475000

### Sort the abalone data by `‘Length’`:

In [36]:
abalone.sort_values(['Length'])

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
236,I,0.075,0.055,0.010,0.0020,0.0010,0.0005,0.0015,1
238,I,0.110,0.090,0.030,0.0080,0.0025,0.0020,0.0030,3
2114,I,0.130,0.095,0.035,0.0105,0.0050,0.0065,0.0035,4
237,I,0.130,0.100,0.030,0.0130,0.0045,0.0030,0.0040,3
1986,I,0.135,0.130,0.040,0.0290,0.0125,0.0065,0.0080,4
...,...,...,...,...,...,...,...,...,...
2090,M,0.775,0.570,0.220,2.0320,0.7350,0.4755,0.6585,17
3715,M,0.780,0.600,0.210,2.5480,1.1945,0.5745,0.6745,11
1209,F,0.780,0.630,0.215,2.6570,1.4880,0.4985,0.5860,11
2334,F,0.800,0.630,0.195,2.5260,0.9330,0.5900,0.6200,23
1428,F,0.815,0.650,0.250,2.2550,0.8905,0.4200,0.7975,14

## Solution

### Access by specifying the column first, then the line of the row:

In [ ]:
abalone['Sex'][3]

### Access by using `.loc` attribute:

In [ ]:
abalone.loc[3, 'Sex']

### Access by using `.iloc` attribute

In [ ]:
abalone.iloc[3, 0]

### Now, let’s access a limited section of rows by using masks. Check the diameter information of those abalone whose rings are `21`.

In [ ]:
mask_ring21 = abalone['Rings'] == 21
abalone.loc[mask_ring21,'Diameter']

### Check mean value by grouping a feature, e.g. check the mean value when grouping abalone by `‘Rings’`:

In [ ]:
abalone.groupby(['Rings']).mean()

### Sort the abalone data by `‘Length’`:

In [ ]:
abalone.sort_values(by='Length').head()

## Try
We encourage you to try and apply above functions to other columns and observe the results.